@import url("./fontFaces.scss");

// 1. Fonts 
$calibre-bold: "CalibreBold",
    sans-serif;
$calibre-semibold : 'CalibreSemiBold',
sans-serif;
$calibre-medium: 'CalibreMedium',
    sans-serif;
$calibre-regular: 'CalibreRegular' sans-serif;
$calibre-light: 'CalibreLight',
    sans-serif;
$sfmono-light : "SFMONOLight",
sans-serif;
$sfmono-regular: 'SFMONORegular',
    sans-serif;
$sfmono-medium: 'SFMONOMedium',
    sans-serif;

// 2. Colors

$color-primary: #E6AC7D;
$color-primary-dark: #2C314B;
$color-primary-light: #404462;

$color-accent: #646C93;

$color-dark: #161D2E;
$color-light: #F5F5F5;

$color-gradient: radial-gradient(circle, #161d2e, #181f32, #1a2236, #1c243a, #1e273e, #1f2840, #1f2a42, #202b44, #1f2b45, #1f2a45, #1e2a46, #1e2946);



@media only screen and (max-width: 1024px) and (min-width: 769px) {
     //769px — 1024px: Small screens, laptops.

    .page {
        width: 100vw;
        overflow: hidden;
        min-height: 70vh;
        overflow: hidden;
    }

    // 3. Buttons

    .buttonPrimary {
        background: none;
        border: 1px solid $color-primary;
        color: $color-primary;
        border-radius: 6px;
        min-height: 40px;
        transition: all 0.5s ease-in-out;
        font-family: $sfmono-light;
        font-size: 25px;

        &:hover {
            border-radius: 6px;
            border: 5px solid $color-primary;
        }
    }

    .buttonSecondary {
        background: $color-accent;
        border: none;
        color: $color-primary;
        border-radius: 6px;
        transition: all 0.5s ease-in-out;
        min-height: 40px;
        font-family: $sfmono-light;
        font-size: 25px;

        &:hover {
            border-radius: 6px;
            border: 5px solid $color-primary;
        }
    }

    // 4. Typography  (should be responsive . . .)

    // 4.1 Size 
    .heading-1 {
        font-size: 70px;
        font-family: $calibre-bold;
        line-height: normal; 
    }

    .heading-2 {
        font-size: 60px;
        font-family: $calibre-semibold;
    }

    .heading-3 {
        font-size: 40px;
        font-family: $calibre-semibold;
    }

    .paragraph {
        font-size: 25px;
        font-weight: 300;
    }


    //  STANDARD CLASSES AND REUSABLES

    .bucket {
        width: 95%;
        max-width: 95%;
        margin: 0 auto;
        padding: 2rem auto;
        font-family: $calibre-regular;
        color: $color-light;
    }

    

    //home
    .home-page {
        background-color:$color-dark;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .bucket-host {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            height: 100%;
        }

        .home-content-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 10px;
            justify-content: center;
            align-items: center;
            width: 100% !important;
            min-height: 100%;


            .hcc-column-left {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                column-gap: 30px;
            }


            .line-space {
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
                margin-bottom: 30px;

                .line {
                    height: 0.2px;
                    width: 60%;
                    border-bottom: 1px solid $color-light;
                }
            }

            .hcc-column-right {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;

                p {
                    max-width: 60%;
                    font-size: 25px;
                }
            }
        }
    }



    //services 

    .services-page {

        background-color: $color-primary-light;
        padding-top: 20%;
        padding-bottom: 20%;
        box-sizing: border-box;
        max-height: 100vh !important;

        .services-content-container {
            display: flex;
            flex-direction: column;
            min-height: 100%;
            justify-content: center;
            align-items: center;


            .scc-head_text {
                text-align: center;
                font-size: 25px;
            }

            .scc-body-row {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                overflow-x: scroll;
                margin-top: 30px;
                width: 100vw;

                .scc-body-row_item {
                    min-height: 40vh;
                    height: 40vh;
                    max-height: 40vh;
                    text-align: center;
                    min-width: 50vw;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    background-color: $color-primary-dark;
                    border: none;
                    border-radius: 0px !important;
                }
            }
        }

    }



    //about

    .about-page {
        background-color: $color-primary-dark;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding-top: 100px;
        padding-bottom: 100px;

        .about-content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .acc-row_left {
                width: 100%;
                min-width: 100%;
                max-width: 100%;

                .acc-row_left-img {
                    filter: grayscale(90%);
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        filter: grayscale(0%);
                        transform: translate(0px, 0px);
                    }
                }
            }

            .acc-row_right {
                width: 100%;
                max-width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 50px;

                .section-lable {
                    text-align: center !important;
                }

                .acc-row_right-paragraph {
                    max-width: 70%;
                }

                .acc-row_right-skills {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    row-gap: 3px;
                    column-gap: 10px;

                    p { 
                        &::before {
                            content: url('../Iconography/skilletIcon.svg');
                            width: 3px;
                            height: 3px;
                            padding-right: 10px;
                            margin-top: 12px;
                        }
                    }

                    .acc-row_right-skills_skill {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                    }
                }

                
            }

        }
    }


    //background

    .background-page {
        background: $color-gradient ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .background-content-container {
            text-align: center;
            box-sizing: none;
            padding-left: 0%;
            padding-right: 0%;
            padding-top: 150px;
            padding-bottom: 150px;
            align-self: start;

            .bcc-headings {
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;

                .section-lable {
                    text-align: center;
                }

                h3 {
                    &::after {
                        content: "";
                        width: 0px;
                        height: 0px;
                        align-self: start;
                        border-bottom: 1px solid $color-accent;
                        margin-left: 0px;
                    }
                }
            }

            .bcc-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .bcc-body_left {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center; 
                    min-width: 100%;
                    width: 100%; 

                    .bcc-body_left-tab_item {
                        min-width: fit-content;
                        width: fit-content;
                        border-bottom: 1px solid $color-accent;
                        border-left: none;
                        box-sizing: border-box;
                        padding: 0px 0px 0px 0px;
                        margin-right: 25px;
                        font-family: $sfmono-light;
                        transition: all .3s ease-in-out;
                    }

                    .bcc-body_left-tab_item-selected {
                        font-family: $calibre-bold;
                        color: $color-primary;
                        font-size: 20px;
                        box-sizing: border-box;
                        padding: 0px 0px 0px 0px;
                        margin-right: 25px;
                        transition: all .3s ease-in-out;
                    }
                }

                .bcc-body_right { 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                    margin-top: 40px;

                    .bcc-body_right-item {
                        transition: all 0.3s ease-in-out;
                        margin-top: 16px;

                        .bcc-body_right-item_what {
                            font-family: $calibre-bold;
                            font-size: 20px;
                            line-height: normal;
                            color: $color-light;
                            padding: 0%;
                        }

                        .bcc-body_right-item_what-link {
                            text-decoration: none;
                            color: $color-primary;
                            font-family: $sfmono-medium;
                            line-height: 0%;
                        }

                        .bcc-body_right-item_when {
                            font-family: $sfmono-light;
                            font-size: 13px;
                        }
                    }

                     
                }
            }

        }

    }




    //portfolio

    .portfolio-page {
        background-color: $color-primary-dark;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
        padding-bottom: 200px;
        box-sizing: border-box;

        .portfolio-content-container {
            text-align: center;

            h3 {
                text-align: start;
                font-size: 50px;
            }

            .pcc-body {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: flex-start; 
                overflow-x: scroll;
                gap: 20px;

                .pcc-body_item {
                    background-color: $color-dark;
                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    text-align: start;
                    min-width: 70% !important;

                    .pcc-body_item-description {
                        height: fit-content;
                        max-height: fit-content;
                        overflow-y: hidden;
                        font-size: 25px;
                    }

                    .pcc-body_item-tools {
                        display: flex;
                        flex-direction: row;
                        gap: 15px;
                        font-family: $sfmono-light;
                    }

                    &:hover {
                        border: 2px solid $color-primary;
                        margin: 10px;
                        padding: 20px;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }


    }



    //contact us

    .contact-page {
        background-color: $color-primary-light;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 100px;

        .contact-content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .ccc-left {
                width: 100%;
                box-sizing: border-box;
                padding: 10px;
                text-align: start;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
            }

            .ccc-right {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .form-holder {
                    width: 98%;
                    background-color: $color-primary-dark;
                    border-radius: 10px;

                    ::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        font-family: $sfmono-light;
                    }

                    .cf-row {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        border: 1px solid $color-accent;
                        margin: 20px;
                        padding: 6px;

                        input,
                        textarea {
                            background: none;
                            border: none;
                            width: 100%;
                            padding: 0px;
                            resize: none;
                            background: none;
                            color: $color-light;
                        }

                        label {
                            font-family: $sfmono-light;
                            font-size: 14px;
                        }

                        input[type="text"] {
                            height: 30px;
                            max-height: 30px;
                        }

                        input:focus {
                            outline-width: none;
                        }
                    }

                    .cf-row-compact {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        .cf-row {
                            width: 70%;
                        }

                        .cf-button_row {
                            width: 30%;
                            margin: 20px;

                            button {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }


    //footer
    .footer {
        height: fit-content;
        background-image: $color-gradient;
        color: $color-primary-light;

        .footer-content {
            display: grid;
            grid-template-areas:
                "a a a"
                "b b c";
            row-gap: 30px;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 10px;
            padding-right: 10px;

            .foot-left {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                grid-area: b;
            }

            .foot-center {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 100%;
                height: 100%;
                grid-area: a;

                .contact_socials {
                    width: fit-content;
                }

                a {
                    text-decoration: none;
                }
            }

            .foot-right {
                display: flex;
                flex-direction: column;
                align-items: end;
                justify-content: center;
                grid-area: c;
            }

            .uparrow {
                background-color: $color-primary;
                padding: 10px;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

}