@import url("./fontFaces.scss");
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .page {
    width: 100vw;
    overflow: hidden;
    min-height: 70vh;
    overflow: hidden;
  }
  .buttonPrimary {
    background: none;
    border: 1px solid #E6AC7D;
    color: #E6AC7D;
    border-radius: 6px;
    min-height: 40px;
    transition: all 0.5s ease-in-out;
    font-family: "SFMONOLight", sans-serif;
  }
  .buttonPrimary:hover {
    border-radius: 6px;
    border: 5px solid #E6AC7D;
  }
  .buttonSecondary {
    background: #646C93;
    border: none;
    color: #E6AC7D;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
    min-height: 40px;
    font-family: "SFMONOLight", sans-serif;
  }
  .buttonSecondary:hover {
    border-radius: 6px;
    border: 5px solid #E6AC7D;
  }
  .heading-1 {
    font-size: 50px;
    font-family: "CalibreBold", sans-serif;
    line-height: normal;
  }
  .heading-2 {
    font-size: 40px;
    font-family: "CalibreSemiBold", sans-serif;
  }
  .heading-3 {
    font-size: 30px;
    font-family: "CalibreSemiBold", sans-serif;
  }
  .paragraph {
    font-size: 16px;
    font-weight: 300;
  }
  .bucket {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem auto;
    font-family: "CalibreRegular" sans-serif;
    color: #F5F5F5;
  }
  .home-page {
    background-color: #161D2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-page .bucket-host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
  }
  .home-page .home-content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    min-height: 100%;
  }
  .home-page .home-content-container .hcc-column-left {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .home-page .home-content-container .line-space {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .home-page .home-content-container .line-space .line {
    height: 0.2px;
    width: 50%;
    border-bottom: 1px solid #F5F5F5;
  }
  .home-page .home-content-container .hcc-column-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .home-page .home-content-container .hcc-column-right p {
    max-width: 90%;
    font-size: 18px;
  }
  .services-page {
    background-color: #404462;
    padding-top: 5%;
    padding-bottom: 5%;
    max-height: 70vh !important;
  }
  .services-page .services-content-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    align-items: center;
  }
  .services-page .services-content-container .scc-head_text {
    text-align: center;
  }
  .services-page .services-content-container .scc-body-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 30px;
    width: 100vw;
  }
  .services-page .services-content-container .scc-body-row .scc-body-row_item {
    min-height: 40vh;
    height: 40vh;
    max-height: 40vh;
    text-align: center;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2C314B;
    border: none;
    border-radius: 0px !important;
  }
  .about-page {
    background-color: #2C314B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about-page .about-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-page .about-content-container .acc-row_left {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .about-page .about-content-container .acc-row_left .acc-row_left-img {
    filter: grayscale(90%);
    transition: all 0.5s ease-in-out;
  }
  .about-page .about-content-container .acc-row_left .acc-row_left-img:hover {
    filter: grayscale(0%);
    transform: translate(0px, 0px);
  }
  .about-page .about-content-container .acc-row_right {
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .about-page .about-content-container .acc-row_right .section-lable {
    text-align: start !important;
  }
  .about-page .about-content-container .acc-row_right h3::after {
    content: "";
    width: 250px;
    height: 2px;
    align-self: center;
    border-bottom: 1px solid #F5F5F5;
    margin-left: 3px;
  }
  .about-page .about-content-container .acc-row_right .acc-row_right-paragraph {
    max-width: 100%;
    text-align: start;
  }
  .about-page .about-content-container .acc-row_right .acc-row_right-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .about-page .about-content-container .acc-row_right .acc-row_right-skills p::before {
    content: url("../Iconography/skilletIcon.svg");
    width: 3px;
    height: 3px;
    padding-right: 10px;
    margin-top: 12px;
  }
  .about-page .about-content-container .acc-row_right .acc-row_right-skills .acc-row_right-skills_skill {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .background-page {
    background: radial-gradient(circle, #161d2e, #181f32, #1a2236, #1c243a, #1e273e, #1f2840, #1f2a42, #202b44, #1f2b45, #1f2a45, #1e2a46, #1e2946);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .background-page .background-content-container {
    text-align: center;
    box-sizing: none;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 150px;
    padding-bottom: 150px;
    align-self: start;
  }
  .background-page .background-content-container .bcc-headings {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .background-page .background-content-container .bcc-headings .section-lable {
    text-align: center;
  }
  .background-page .background-content-container .bcc-headings h3::after {
    content: "";
    width: 0px;
    height: 0px;
    align-self: start;
    border-bottom: 1px solid #646C93;
    margin-left: 0px;
  }
  .background-page .background-content-container .bcc-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .background-page .background-content-container .bcc-body .bcc-body_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    width: 95% !important;
    max-width: 95% !important;
    min-width: 95% !important;
  }
  .background-page .background-content-container .bcc-body .bcc-body_left .bcc-body_left-tab_item {
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 1px solid #646C93;
    border-left: none;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    margin-right: 25px;
    font-family: "SFMONOLight", sans-serif;
    transition: all 0.3s ease-in-out;
  }
  .background-page .background-content-container .bcc-body .bcc-body_left .bcc-body_left-tab_item-selected {
    font-family: "CalibreBold", sans-serif;
    color: #E6AC7D;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
  }
  .background-page .background-content-container .bcc-body .bcc-body_right {
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    transition: all 0.3s ease-in-out;
  }
  .background-page .background-content-container .bcc-body .bcc-body_right .bcc-body_right-item {
    transition: all 0.3s ease-in-out;
    margin-top: 16px;
  }
  .background-page .background-content-container .bcc-body .bcc-body_right .bcc-body_right-item .bcc-body_right-item_what {
    font-family: "CalibreBold", sans-serif;
    font-size: 20px;
    line-height: normal;
    color: #F5F5F5;
    padding: 0%;
  }
  .background-page .background-content-container .bcc-body .bcc-body_right .bcc-body_right-item .bcc-body_right-item_what-link {
    text-decoration: none;
    color: #E6AC7D;
    font-family: "SFMONOMedium", sans-serif;
    line-height: 0%;
  }
  .background-page .background-content-container .bcc-body .bcc-body_right .bcc-body_right-item .bcc-body_right-item_when {
    font-family: "SFMONOLight", sans-serif;
    font-size: 13px;
  }
  .portfolio-page {
    background-color: #2C314B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    box-sizing: border-box;
  }
  .portfolio-page .portfolio-content-container {
    text-align: center;
  }
  .portfolio-page .portfolio-content-container h3 {
    text-align: start;
    font-size: 35px;
  }
  .portfolio-page .portfolio-content-container .pcc-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: scroll;
    gap: 20px;
  }
  .portfolio-page .portfolio-content-container .pcc-body .pcc-body_item {
    background-color: #161D2E;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    min-width: 90vw !important;
  }
  .portfolio-page .portfolio-content-container .pcc-body .pcc-body_item .pcc-body_item-description {
    height: -moz-fit-content;
    height: fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    overflow-y: hidden;
  }
  .portfolio-page .portfolio-content-container .pcc-body .pcc-body_item .pcc-body_item-tools {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: "SFMONOLight", sans-serif;
  }
  .portfolio-page .portfolio-content-container .pcc-body .pcc-body_item:hover {
    border: 2px solid #E6AC7D;
    margin: 10px;
    padding: 20px;
    transition: all 0.5s ease-in-out;
  }
  .contact-page {
    background-color: #404462;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contact-page .contact-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .contact-page .contact-content-container .ccc-left {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .contact-page .contact-content-container .ccc-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-page .contact-content-container .ccc-right .form-holder {
    width: 98%;
    background-color: #2C314B;
    border-radius: 10px;
  }
  .contact-page .contact-content-container .ccc-right .form-holder ::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "SFMONOLight", sans-serif;
  }
  .contact-page .contact-content-container .ccc-right .form-holder ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "SFMONOLight", sans-serif;
  }
  .contact-page .contact-content-container .ccc-right .form-holder .cf-row {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid #646C93;
    margin: 20px;
    padding: 6px;
  }
  .contact-page .contact-content-container .ccc-right .form-holder .cf-row input,
  .contact-page .contact-content-container .ccc-right .form-holder .cf-row textarea {
    background: none;
    border: none;
    width: 100%;
    padding: 0px;
    resize: none;
    background: none;
    color: #F5F5F5;
  }
  .contact-page .contact-content-container .ccc-right .form-holder .cf-row label {
    font-family: "SFMONOLight", sans-serif;
    font-size: 14px;
  }
  .contact-page .contact-content-container .ccc-right .form-holder .cf-row input[type=text] {
    height: 30px;
    max-height: 30px;
  }
  .contact-page .contact-content-container .ccc-right .form-holder .cf-row input:focus {
    outline-width: none;
  }
  .contact-page .contact-content-container .ccc-right .form-holder .cf-row-compact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact-page .contact-content-container .ccc-right .form-holder .cf-row-compact .cf-row {
    width: 70%;
  }
  .contact-page .contact-content-container .ccc-right .form-holder .cf-row-compact .cf-button_row {
    width: 30%;
    margin: 20px;
  }
  .contact-page .contact-content-container .ccc-right .form-holder .cf-row-compact .cf-button_row button {
    width: 100%;
  }
  .footer {
    height: -moz-fit-content;
    height: fit-content;
    background-image: radial-gradient(circle, #161d2e, #181f32, #1a2236, #1c243a, #1e273e, #1f2840, #1f2a42, #202b44, #1f2b45, #1f2a45, #1e2a46, #1e2946);
    color: #404462;
  }
  .footer .footer-content {
    display: grid;
    grid-template-areas: "a a a" "b b c";
    row-gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer .footer-content .foot-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    grid-area: b;
  }
  .footer .footer-content .foot-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: 100%;
    grid-area: a;
  }
  .footer .footer-content .foot-center .contact_socials {
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer .footer-content .foot-center a {
    text-decoration: none;
  }
  .footer .footer-content .foot-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    grid-area: c;
  }
  .footer .footer-content .uparrow {
    background-color: #E6AC7D;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=small.css.map */