// 1. Portfolio Fonts : Montserrat fonts [from google fonts]
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$my-font-family: "Poppins", sans-serif;

// 2. Portfolio Colors and gradients

$color-primary: #1f295a;
$color-secondary: #58e1f5;

$color-offdark: #2c2c2c;
$color-dark: #000315;
$color-light: #ffffff;
$color-offwhite: #e9fcff;
$color-offwhite2: #eef0fc;
$color-offwhite3: #f4f7fe;
$color-offwhite4: #edf7fe;

$color-gradient: linear-gradient(
  to right,
  #1f295a,
  #2a3670,
  #2a3670,
  #354387,
  #40519f,
  #4b5fb8
);

// MIXINS

@mixin flexDisplay($justify, $aligns, $gaps, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $aligns;
  gap: $gaps;
}

@mixin my-btn($color, $width, $boda) {
  background: $color;
  transition: all 0.5s ease-in-out;
  font-family: $my-font-family;
  font-weight: 500;
  color: $color-light;
  &:hover {
    border-radius: 0px;
    background: $color;
    color: $color-light;
  }
}

@mixin up($pad) {
  padding: $pad $pad $pad $pad;
}

@mixin um($pad) {
  margin: $pad $pad $pad $pad;
}

// BUTTONS

.buttonPrimary {
  @include my-btn($color-primary, fit-content, 0px);
}

.buttonSecondary {
  @include my-btn($color-dark, fit-content, 0px);
  min-width: 100px !important;
}
.buttonGradient {
  @include my-btn($color-gradient, fit-content, 0px);
  min-width: 100px !important;
}

// STANDARD CLASSES AND REUSABLES

.bucket {
  width: 85%;
  max-width: 85%;
  margin: 0 auto;
  padding: 2rem auto;
}

.major-div {
  max-width: 45%;
}

.heading-1 {
  font-size: 60px;
  font-weight: 800;
}

.heading-2 {
  font-size: 40px;
  font-weight: 700;
}
.heading-3 {
  font-size: 30px;
  font-weight: 600;
}
.heading-4 {
  font-size: 20px;
  font-weight: 500;
}

.paragraph {
  font-size: 16px;
  font-weight: 300;
}
.text-color-primary {
  color: $color-primary;
}
.text-color-secondary {
  color: $color-secondary;
}
.text-color-light {
  color: $color-light;
}
.service-item-light {
  background-color: $color-light;
}
.service-item-secondary {
  background-color: $color-offwhite;
}

// SETTINGS
* {
  //hide scrollbars
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  font-weight: 400;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  font-family: $my-font-family;
  box-sizing: border-box;
}
.page {
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  overflow: hidden;
  @include flexDisplay(
    justify-content-center,
    align-items-center,
    2,
    flex-colum
  );
}

.spaciously {
  height: 100px;
}

.my-btn-sec {
  background: $color-secondary;
  transition: all 0.5s ease-in-out;
  font-family: $my-font-family;
  font-weight: 500;
  border-radius: 0.7rem 0.7rem 0 0.7rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    border-radius: 0px;
    color: $color-dark !important;
    background: $color-secondary;
  }
}

//header
.navigationBar {
  position: fixed;
  min-width: 100vw;
  //padding: 5px 0px 5px 0px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header-data-basket {
    overflow-x: hidden;
    min-width: 80%;
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.6rem;
    background: $color-gradient;
    margin-top: 10px;
    .nav {
      transition: all 0.5s ease-in-out;
      li {
        transition: all 0.5s ease-in-out;
        a {
          transition: all 0.5s ease-in-out;
          color: $color-offwhite !important;
          &::after {
            display: block;
            content: "";
            border-bottom: 0.1rem solid $color-secondary;
            border-radius: 4rem;
            width: 1rem;
          }
        }
        &:hover {
          a {
            color: $color-offwhite !important;
            &::after {
              display: block;
              content: "";
              border-bottom: 0.1rem solid $color-secondary;
              border-radius: 4rem;
              width: 80%;
            }
          }
        }
      }
    }
    .brand {
      @include flexDisplay(center, center, 5px, row);
      small {
        font-weight: 900;
        padding-top: 10px;
        opacity: 0.3;
      }
    }
  }
}

//home
.home-page {
  height: 70vh;
  max-height: 70vh;
  overflow: hidden;
  .headesc {
    width: 70%;
  }

  .image-grid {
    width: 300px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .text-container {
      background-color: $color-offwhite;
      border-radius: 2rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .letterace {
      color: rgb(204, 227, 251);
      font-size: 60px;
      font-weight: 300;
    }
  }

  .background_shape {
    background-image: $color-gradient;
    margin-left: 30px;
    border-bottom-left-radius: 8rem;
    display: flex;
    flex-direction: column;
    height: 100% !important;
    justify-content: center;
    align-items: center;

    .button-group {
      display: flex;
      flex-direction: row;
      bottom: 10px;
      gap: 0px;
      .button-primary {
        background-color: $color-primary;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        font-family: $my-font-family;
        font-weight: 300;
        color: $color-light;
        transition: all 0.5s ease-in-out;
        &:hover {
          border-radius: 0px;
          margin-right: 4px;
        }
      }
      .button-secondary {
        background-color: $color-secondary;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        font-family: $my-font-family;
        font-weight: 300;
        color: $color-dark;
        transition: all 0.5s ease-in-out;
        &:hover {
          border-radius: 0px;
          margin-left: 4px;
        }
      }
    }

    .line {
      height: 150px;
      width: 0.2px;
      border-left: 1px solid $color-light;
    }
  }
}

//services

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  .serviceHead {
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;

    .h {
      padding-left: 20px;
      border: none;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      background-color: $color-offwhite;
      margin: none;
    }
    .heading-2 {
      color: $color-primary;
    }
  }
  .serviceGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    text-align: start;
    margin-top: 20px;

    .serviceGridItem {
      max-width: 280px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: flex-start;
      .service-grid-item_project_link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        align-self: flex-end;
        padding-right: 10px;
        margin-top: 20px;
        font-weight: 200;
        color: $color-dark;
        &::before {
          display: inline-block;
          content: "";
          border-bottom: 0.1rem solid $color-offdark;
          margin: 0 0.5rem;
          width: 2rem;
          //transform: translateY(-1rem);
        }
      }
    }
  }
}

#servicesSection {
  padding-bottom: 100px;
  padding-top: 50px;
  height: 100vh;
}

.about-page {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $color-offwhite4;
  color: $color-dark;
  .heading-2 {
    color: $color-primary;
  }

  .about-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 0px;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .about-img {
    max-height: 80vh !important;
  }
  .about-tab_item {
    font-weight: 400;
    padding: 0px auto;
    transition: all 0.5s ease-in-out;
    &::after {
      display: block;
      content: "";
      border-bottom: 0.2rem solid $color-offdark;
      width: 2rem;
      border-radius: 4rem;
    }
  }
  .about-tab_item_selected {
    color: $color-primary;
    padding: 0px auto;
    transition: all 0.5s ease-in-out;
    font-weight: 500;
    &::after {
      display: block;
      content: "";
      border-bottom: 0.2rem solid $color-secondary;
      border-radius: 4rem;
      width: 4rem;
    }
  }

  .itemItem {
    font-weight: 800;
    color: $color-primary;
  }
}

//experience
.product_page {
  background-color: #f8f9ff;
}
.exp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  @include up(40px);

  .exp-header_content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    max-width: 70%;
  }

  .exp-tabs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-right: 1rem;

    .exp-tab_item {
      padding: 20px 20px 20px 20px;
      border-left: 2px solid #d6e9fa;
      font-weight: 500;
      width: 150px;
    }
    .exp-tab_item_selected {
      padding: 20px 20px 20px 20px;
      padding-left: 20px;
      border-left: 2px solid $color-primary;
      color: $color-primary;
      font-weight: 700;
      background-color: #f6fbff;
      width: 150px;
    }
  }

  .exp_title_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 70%;
    justify-content: center;
    .exp-header_title {
      font-weight: 700;
      color: $color-primary;
      font-size: 40px;
      text-align: start !important;
      padding-bottom: 50px;

      &::after {
        display: inline-block;
        content: "";
        border-bottom: 0.1rem solid #d6e9fa;
        margin: 0 1rem;
        width: 20rem;
        transform: translateY(-1rem);
      }
    }
  }

  .exp-item-body {
    .exp-item-body_job {
      font-weight: 600;
    }
    .exp-item-body_list_item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1rem;
      padding-top: 10px;
      padding-bottom: 10px;
      justify-content: start;

      .bullet_i {
        max-width: 20px !important;
        max-height: 20px !important;
        padding-top: 6px;
      }
    }

    .exp-item-body_employer {
      color: $color-secondary;
    }
  }
}

//projects
.product_page {
  overflow: hidden;
  background-color: rgb(241, 247, 253);
  .product_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;

    .product_products {
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-x: scroll;

      .product_list {
        display: flex;
        flex-direction: row;
      }
    }

    .project_item {
      min-width: 300px !important;
      max-width: 300px;
      @include um(6px);
      background-color: $color-light;
      @include up(0.5rem);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-radius: 0.2rem;

      .project_item-image {
        height: 180px;
        max-height: 180px !important;
        overflow: hidden;
        background-color: $color-offwhite;
        border-radius: 0.2rem;
        img {
          object-fit: cover;
          object-position: center;
        }
      }

      .project_item-body {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 16px;
        @include up(20px);

        .project_item-body-tools {
          display: flex;
          flex-direction: row;
          gap: 1px;
        }

        .project_type {
          padding: 6px 6px 6px 6px;
          min-width: 60px;
          margin: 1px;
          border-radius: 1px 1px 0px 1px;
          text-align: center;
        }
        .project_item-body-type-0 {
          border-radius: 0px 0px 0px 4px;
          background-color: #eef0fc;
        }
        .project_item-body-type-1 {
          border-radius: 0px 0px 0px 0px;
          background-color: #e9fcff;
        }
        .project_item-body-type-2 {
          border-radius: 0px 4px 0px 0px;
          background-color: #d6e9fa;
        }
      }
      .project_item-body-description {
        font-weight: 200;
      }

      .project_item-link {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        width: 100%;

        .link-item {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            text-decoration: none;
            color: $color-primary;
            transition: all 0.5s ease-in-out;
            &:hover {
              font-weight: 600;
            }
          }
          &::before {
            content: "";
            width: 0.4rem;
            display: inline-block;
            content: "";
            border-bottom: 0.1rem solid #a2a3a4;
            width: 2rem;
          }
        }
      }
    }
  }
}

.contact-page {
  padding-top: 100px;
  padding-bottom: 100px;
  background: $color-gradient;
  color: $color-light;

  .contacts-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .contact-columns_left {
      width: 40%;
      .contact-tag {
        color: $color-offwhite2;
        font-weight: 400;
      }
      .cta {
        font-weight: 600;
      }
      .contact_socials {
        width: fit-content;
        a {
          text-decoration: none;
        }
      }
    }
    .contact-columns_right {
      width: 40%;
      .contact-form {
        border-radius: 6px;
        background-color: $color-light;
        color: $color-primary;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .form-elements {
        overflow: hidden;
        .label-input {
          background-color: #eef0fc;
          border: 1px solid #eef0fc;
          margin-top: 4px;
        }
        .li-name {
          border-radius: 0 6px 0 0;
        }
        .li-message {
          border-radius: 0 0 6px 6px;
        }
        .li-email {
          border-radius: 6px 0 0 6px;
          max-height: 60px;
          margin-top: 0;
        }

        label {
          text-align: start;
          padding: 2px 2px 0px 4px;
          display: inline-block;
          color: rgba(0, 15, 45, 0.696);
        }
        ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: rgb(102, 102, 102);
          opacity: 0.7;
        }
        input[type="text"],
        select {
          border: none;
          background-color: none;
          resize: none;
          background: none;
          height: 30px;
          max-height: 30px;
          color: rgb(0, 0, 0);
          padding: 0px 0px 2px 4px;
          &:required:focus {
            outline: none;
          }
        }
        textarea {
          resize: none;
          background: none;
          border: none;
          height: 100px;
          color: rgb(0, 0, 0);
          padding: 2px 1px 2px 4px;
          &:required:focus {
            outline: none;
          }
        }
        .emailtosubmitsection {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0px;
          margin-top: 6px;
          padding: 0px;

          .btn-send {
            height: 60px;
            border: none;
            border-radius: 0px 8px 0px 0px;
            align-self: center;
          }
        }
      }
    }
  }
}

//footer
.footer {
  height: 50vh;
  background-image: $color-light;
  padding-top: 30px;
  .contact_socials {
    width: fit-content;
  }
  a {
    text-decoration: none;
    color: $color-dark;
  }
  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .foot-center,
    .foot-right {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
