@mixin activeTab() {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #404462;
}

.App-Navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 5000;
}

.AppNavbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-branding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .navbar-ham {
    display: none;
  }
}

.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: ease-in-out 0.5s;
    padding: 10px 10px;
    border-right: 1px solid #404462;

    &:hover {
      @include activeTab();
    }
  }
  .active-tab {
    transition: ease-in-out 0.5s;
    color: white !important;
  }
}

.navbar-ham {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .ham-image {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .AppNavbar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navbar-branding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .navbar-ham {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    overflow-y: scroll;
    padding-bottom: 3rem;
  }
  .navbar-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;

    .nav-link {
      padding-left: 0px;
      border-right: none;
      width: 100%;
      border-bottom: 1px solid #404462;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 2rem;
      padding-bottom: 2rem;
      gap: 0px;
      margin: 0px auto;
      font-size: 2rem;
    }
  }
  .inMenuResume {
    display: none;
    visibility: hidden;
  }

  .open-ham {
    display: block;
    transition: ease-in-out 0.5s;
  }
  .close-ham {
    display: none;
    transition: ease-in-out 0.5s;
  }
}
