.App-About {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.AppAbout-Content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3%;
}
.AppAbout-Content_Grid {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.col-right {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  text-align: start;
  width: 48%;
}
.col-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  width: 48%;
}

.About-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  width: fit-content;
  margin-bottom: 10px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-text {
  max-width: 100%;
}

.stack-item {
  margin-top: 10px;
  padding: 10px;
  .stack-item_list {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 595px) {
  .AppAbout-Content_Grid {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .col-right {
    min-width: 100%;
  }
  .col-left {
    min-width: 100%;
  }
}

@media only screen and (min-width: 596px) and (max-width: 888px) {
  .AppAbout-Content {
    max-width: 90%;
  }
  .AppAbout-Content_Grid {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .col-right {
    min-width: 100%;
  }
  .col-left {
    min-width: 100%;
  }
}

@media only screen and (min-width: 889px) and (max-width: 1224px) {
  .AppAbout-Content {
    max-width: 75%;
  }
  .AppAbout-Content_Grid {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .col-right {
    min-width: 100%;
  }
  .col-left {
    min-width: 100%;
  }
}
@media only screen and (min-width: 1225px) and (max-width: 1512px) {
}

@media only screen and (min-width: 1513px) {
}
