.coming-page {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .bucket {
    max-width: 70%;
    min-width: 70%;
    width: 80%;
    min-height: 100%;
    .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10vw;

      .content-right {
        padding: 5% auto;
        max-width: 50%;
        max-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .coming-hero {
          height: 600px;
          max-height: 600px;
          width: 100%;
          max-width: 100%;
          object-position: center;
        }
      }
      .content-left {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        gap: 20px;
        .button-group {
          display: flex;
          flex-direction: row;
          gap: 10px;
          margin-top: 30px;

          .coming-button {
            background-color: white;
            border-radius: 6px;
            padding: 8px;
            min-width: 100px;
            min-height: 40px;
            border: none;
            cursor: pointer;
          }
          .github-button {
            background-color: #e6ac7d !important;
            .gtgh {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 595px) {
  .coming-page {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .bucket {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      min-height: 100%;
      padding: 6px;
      .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10vw;

        .content-right {
          padding: 5% auto;
          max-width: 100%;
          max-height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .coming-hero {
            height: 400px;
            max-height: 400px;
            width: 100%;
            max-width: 100%;
            object-position: center;
          }
        }
        .content-left {
          max-width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: start;
          gap: 20px;
          .button-group {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-top: 30px;

            .coming-button {
              background-color: white;
              border-radius: 6px;
              padding: 8px;
              min-width: 100px;
              min-height: 40px;
              border: none;
              cursor: pointer;
            }
            .github-button {
              background-color: #e6ac7d !important;
              .gtgh {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 596px) and (max-width: 888px) {
  .coming-page {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .bucket {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      min-height: 100%;
      padding: 6px;
      .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10vw;

        .content-right {
          padding: 5% auto;
          max-width: 100%;
          max-height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .coming-hero {
            height: 400px;
            max-height: 400px;
            width: 100%;
            max-width: 100%;
            object-position: center;
          }
        }
        .content-left {
          max-width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: start;
          gap: 20px;
          .button-group {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-top: 30px;

            .coming-button {
              background-color: white;
              border-radius: 6px;
              padding: 8px;
              min-width: 100px;
              min-height: 40px;
              border: none;
              cursor: pointer;
            }
            .github-button {
              background-color: #e6ac7d !important;
              .gtgh {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 889px) and (max-width: 1000px) {
  .coming-page {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .bucket {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      min-height: 100%;
      padding: 6px;
      .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10vw;

        .content-right {
          padding: 5% auto;
          max-width: 100%;
          max-height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .coming-hero {
            height: 400px;
            max-height: 400px;
            width: 100%;
            max-width: 100%;
            object-position: center;
          }
        }
        .content-left {
          max-width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: start;
          gap: 20px;
          .button-group {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-top: 30px;

            .coming-button {
              background-color: white;
              border-radius: 6px;
              padding: 8px;
              min-width: 100px;
              min-height: 40px;
              border: none;
              cursor: pointer;
            }
            .github-button {
              background-color: #e6ac7d !important;
              .gtgh {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1512px) {
  .coming-page {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .bucket {
      max-width: 60%;
      min-width: 60%;
      width: 60%;
      min-height: 100%;
      .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10vw;

        .content-right {
          padding: 5% auto;
          max-width: 50%;
          max-height: 50vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .coming-hero {
            height: 600px;
            max-height: 600px;
            width: 100%;
            max-width: 100%;
            object-position: center;
          }
        }
        .content-left {
          max-width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: start;
          gap: 20px;
          .button-group {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-top: 30px;

            .coming-button {
              background-color: white;
              border-radius: 6px;
              padding: 8px;
              min-width: 100px;
              min-height: 40px;
              border: none;
              cursor: pointer;
            }
            .github-button {
              background-color: #e6ac7d !important;
              .gtgh {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1513px) {
  .coming-page {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .bucket {
      max-width: 60%;
      min-width: 60%;
      width: 60%;
      min-height: 100%;
      .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10vw;

        .content-right {
          padding: 5% auto;
          max-width: 50%;
          max-height: 50vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .coming-hero {
            height: 600px;
            max-height: 600px;
            width: 100%;
            max-width: 100%;
            object-position: center;
          }
        }
        .content-left {
          max-width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: start;
          gap: 20px;
          .button-group {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-top: 30px;

            .coming-button {
              background-color: white;
              border-radius: 6px;
              padding: 8px;
              min-width: 100px;
              min-height: 40px;
              border: none;
              cursor: pointer;
            }
            .github-button {
              background-color: #e6ac7d !important;
              .gtgh {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
