.services-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.services-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: start;
  gap: 30px;
  min-height: 100vh;
}

.scc-head_text {
  text-align: start;
}

.scc-body-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 10%;
  margin-top: 30px;
}

.service-grid-item_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 595px) {
  .scc-body-row {
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
    place-items: center;
  }

  .services-page {
    min-height: 100vh;
    height: max-content;
  }

  .service-grid-item_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
  }
}

@media only screen and (min-width: 596px) and (max-width: 888px) {
  .scc-body-row {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
    place-items: center;
  }

  .services-page {
    min-height: 100vh;
  }

  .service-grid-item_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
}

@media only screen and (min-width: 889px) and (max-width: 1224px) {
  .scc-body-row {
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
    place-items: center;
  }

  .services-page {
    min-height: 100vh;
  }

  .service-grid-item_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
}
@media only screen and (min-width: 1225px) and (max-width: 1512px) {
}

@media only screen and (min-width: 1513px) {
}
