.App-Stack {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.AppStack-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.AppStack-Grid {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: start;
  gap: 3%;
}

.stack-col-1 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.stack-col-1 .sc-1_top {
  height: 39vh;
  max-height: 39vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stack-col-1 .sc-1_top .img-span {
  border-radius: 1rem;
  height: 100% !important;
  max-height: 100% !important;
}
.stack-col-1 .sc-1_bottom {
  border-radius: 1rem;
  height: 30vh;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.stack-col-2 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.stack-col-2 .sc-2_bottom {
  max-height: 39vh;
  height: 39vh;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 3rem;
}
.stack-col-2 .sc-2_bottom .img-span {
  border-radius: 1rem;
  height: 100% !important;
  max-height: 100% !important;
}
.stack-col-2 .sc-2_top {
  border-radius: 1rem;
  height: 30vh;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.stack-col-3 {
  display: flex;
  max-height: 70vh;
}
.stack-col-3 .sc-3_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  border-radius: 1rem;
  padding: 2rem 2rem;
  height: 70vh;
}

@media only screen and (max-width: 595px) {
  .AppStack-Grid {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3rem;
  }
  .stack-col-1 {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .stack-col-2 {
    gap: 3rem;
  }
  .stack-col-3 {
    max-height: 50vh;
    height: 50vh;
  }
  .stack-col-3 .sc-3_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    border-radius: 1rem;
    padding: 2rem 2rem;
    height: 50vh;
    gap: 3rem;
  }
}
@media only screen and (min-width: 596px) and (max-width: 1099px) {
  .AppStack-Grid {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3rem;
  }
  .stack-col-1 {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .stack-col-3 {
    max-height: 50vh;
    height: 50vh;
  }
  .stack-col-3 .sc-3_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    border-radius: 1rem;
    padding: 4rem 4rem;
    height: 50vh;
    gap: 3rem;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1280px) {
  .AppStack-Grid {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  .stack-col-1 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  .stack-col-1 .sc-1_top {
    height: 40vh;
    max-height: 40vh;
  }
  .stack-col-1 .sc-1_bottom {
    height: 40vh;
  }
  .stack-col-2 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  .stack-col-2 .sc-2_top {
    height: 40vh;
    max-height: 40vh;
  }
  .stack-col-2 .sc-2_bottom {
    height: 40vh;
  }
}/*# sourceMappingURL=Stacks.css.map */